version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: api-todo:dev
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      # Sync your local code in /app
      - ./:/app # bind mount your project (dev)
      # Prevents the host's node_modules from overwriting the container
      - /app/node_modules  # keep container node_modules
      # The SQLite database persists if you use it (avoid losing dev.db)
      - prisma_data:/app/prisma 
    environment:
        - CI=true # avoid prompts of pnpm "non-TTY"
    command: >
      sh -c "
        corepack enable &&
        corepack prepare pnpm@10.20.0 --activate &&
        pnpm install &&
        pnpm prisma generate &&
        pnpm prisma db seed || true &&
        pnpm build &&
        node dist/app.js
      "
    healthcheck:
      test: ["CMD", "wget", "-q", "-O-", "http://localhost:3000/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3

volumes:
  prisma_data:
