version: "3.8"

services:
  app:
    image: happykitten/api-todo:1.0.2   # the image you will upload / download
    env_file:
      - .env.prod                         # here you put JWT_SECRET, ADMIN_EMAIL, ADMIN_PASS, DATABASE_URL=file:/app/prisma/dev.db
    ports:
      - "3000:3000"
    # volumes:
      # - prisma_data:/app/prisma/dev.db 
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-q", "-O-", "http://localhost:3000/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3

volumes:
  prisma_data:
